<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>{{ firstName }} {{ lastName }}</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}"/>
    <script src="static/scripts/yaot.js"></script>


</head>
<body>
    <div class='c1200'>
        <ul class='menu'>
          <li><a class='top' class="active" href="#home">Home</a></li>
          <li><a class='top' href="#news">News</a></li>
          <li><a class='top' href="#contact">Contact</a></li>
          <li class='top' style="float:right"><a  href="#about">About</a></li>
        </ul>
        <div class="picArea">
           <img style='height: auto; width: 100%;' src="{% static picChoice %}"/>
           <img class='profile' style='height: auto; width: 300px;' src="{{ MEDIA_URL }}{{ picture }}"/>
           <h1 class='name'><span>{{ firstName }} {{ lastName }}</span></h1>
           <h1 class='contact'>Contact</h1>
           <div class='alma'>
           <a  href="http://www.almabeckmann.de">www.almabeckmann.de</a>
           </div>
           <ul class='sideLinks'>
             <li><a class='links' href="#home">{{ email_1 }}</a></li>
             <li><a class='links' href="https://www.twitter.com/{{ twitter }}">twitter: @{{ twitter }}</a></li>
             <li><a class='links' href="{{ link_1 }}">{{ link_1 }}</a></li>

           </ul>

         </div>
    </div>
</body>
